* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

#user, ol {
    margin: 20px 0 0 40px;
}

#user {
    float: left;
}

button {
    margin: 20px 0 0 20px;
}

span {
    color: red;
    cursor: pointer;
}

.testo {
    color: black;
}

.hide {
    display: none;
}
